<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        body, html, #allmap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            font-family: "宋体";
        }
    </style>

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=8LUM3pe66qdf0FaeyQwCGG7xtXZWpZSN"></script>
    <script src="../static/layer-v3.1.1/layer/layer.js" th:src="@{/layer-v3.1.1/layer/layer.js}"></script>
    <title>首页</title>
</head>
<body>
<header>
    <div>
        <img style="width:100px; " src="../static/images/thingjs.jpg" th:src="@{/images/thingjs.jpg}" alt="">
        <a th:href="@{/}" href="#" style="float: right;">退出 </a><span style="float: right;">|</span>
        <a th:href="@{/admin}" href="#" style="float: right;">后台管理</a>
        <input type="hidden" th:value="${t}" class="t">
    </div>
</header>
<div id="allmap"></div>

<script type="text/javascript" th:inline="javascript">
    var marker;
    // 创建地图
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(116.404, 39.915);
    map.centerAndZoom(point, 15);


    //右击获取经纬度
    map.addEventListener("rightclick", function (e) {
        layer.alert('您确定要设置位置吗？', function() {
            var t = $(".t").val();
            //创建图标
            var pt = new BMap.Point(e.point.lng, e.point.lat);
            var myIcon = new BMap.Icon("http://lbsyun.baidu.com/jsdemo/img/fox.gif", new BMap.Size(300, 157));
            marker = new BMap.Marker(pt, {icon: myIcon});  // 创建标注
            marker.setTitle(t);//给标注创建marker
            $.ajax({
                type: 'GET',
                url: 'addMarkerPosition',
                data: {
                    "baseId": t,
                    "jingdu": e.point.lng,
                    "weidu": e.point.lat
                },
                success: function (data) {
                    if (data=="no") {
                        layer.msg('您设置的基站不存在!');
                    }else {
                        window.location.href = "temp";
                        map.addOverlay(marker);// 将标注添加到地图中
                    }

                }
            });

        });
    });

    $(document).ready(function () {
        startMap();
    });


    //查询存在的基站位置并显示图标
    function startMap() {
        $.ajax({
            type: 'GET',
            url: 'selectBaseStataion',
            data: {},
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    //创建图标
                    var pt = new BMap.Point(data[i].jingdu, data[i].weidu);
                    var myIcon = new BMap.Icon("http://lbsyun.baidu.com/jsdemo/img/fox.gif", new BMap.Size(300, 157));
                    marker = new BMap.Marker(pt, {icon: myIcon});  // 创建标注
                    marker.setTitle(data[i].baseId);
                    //点击图标查看基站
                    marker.addEventListener("click", function () {
                        if (null != this) {
                            var p = this.getTitle();
                            window.location.href = "lookOneBS?title=" + p;
                        }
                    });
                    map.addOverlay(marker);
                }
            }
        });
    }

</script>
</body>
</html>

